*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
*.png
data
data_old
output
submodules/simple-knn

diff_gaussian_rasterization_t
diff_gaussian_rasterization.egg-info
submodules/diff-gaussian-rasterization
submodules/simple-knn